.ellipse-div {
  height: 116px;
  width: 117px;
  position: absolute;
  margin: 0 !important;
  top: -59px;
  left: -19px;
  border-radius: 50%;
  background-color: var(--color-white);
  cursor: pointer;
}
.orem-epsom3 {
  font-weight: 600;
}
.ellipse-group,
.lorem-epsom3 {
  display: flex;
  position: relative;
}
.lorem-epsom3 {
  height: 38px;
  flex: 1;
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.ellipse-group {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-child4 {
  width: 17.3px;
  height: 14.7px;
  position: absolute;
  margin: 0 !important;
  top: -0.5px;
  left: 28.9px;
  z-index: 1;
}
.frame-parent12,
.guia-de-cirugia3 {
  position: relative;
  display: flex;
  align-items: center;
}
.frame-parent12 {
  height: 47px;
  width: 104px;
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
}
.guia-de-cirugia3 {
  align-self: stretch;
  flex: 1;
  font-size: var(--font-size-5xl);
}
.frame-parent11 {
  align-self: stretch;
  height: 79px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.si-ests-leyendo3 {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.headphones-icon-item {
  align-self: stretch;
  width: 157px;
  position: relative;
  border-radius: var(--br-23xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.saber-mas3 {
  width: 100%;
  border: 0;
  outline: 0;
  font-weight: 300;
  font-family: var(--font-inter);
  font-size: var(--font-size-xl);
  background-color: transparent;
  height: 33px;
  flex: 1;
  position: relative;
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
  min-width: 106px;
  z-index: 1;
  margin-left: -133px;
}
.headphones-icon4,
.more-info-text4 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.headphones-icon4 {
  flex: 1;
  align-items: center;
}
.more-info-text4 {
  height: 63px;
  align-items: flex-start;
  padding: 0 var(--padding-19xl) 0 var(--padding-2xl);
  box-sizing: border-box;
}
.si-ests-leyendo-esto-es-porq-group {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-4xl);
}
.frame-parent10,
.frame-wrapper1,
.si-ests-leyendo-esto-es-porq-group {
  display: flex;
  justify-content: flex-start;
}
.frame-wrapper1 {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xs) 0 var(--padding-5xs);
  font-size: var(--font-size-xl);
}
.frame-parent10 {
  height: 588px;
  width: 280px;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-93xl);
  min-width: 280px;
}
.infocircle-child {
  height: 63px;
  width: 249px;
  position: relative;
  border-radius: var(--br-23xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.historia-sonora3 {
  width: 177px;
  height: 33px;
  position: relative;
  font-size: var(--font-size-xl);
  font-weight: 300;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.historia-sonora-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.headphones-icon5 {
  height: 52px;
  width: 41px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.frame-child5,
.infocircle {
  border-radius: var(--br-23xl);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.infocircle {
  cursor: pointer;
  padding: var(--padding-8xs) var(--padding-lg) var(--padding-7xs)
    var(--padding-4xl);
  background-color: var(--color-white);
  flex: 0.8841;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 162px;
}
.frame-child5 {
  align-self: stretch;
  width: 244px;
  position: relative;
  background-color: var(--color-gainsboro);
  display: none;
}
.historia6 {
  height: 33px;
  flex: 1;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  z-index: 3;
}
.searchrectangle-item {
  height: 63px;
  width: 69px;
  position: relative;
  border-radius: var(--br-23xl);
  background-color: var(--color-gray);
  display: none;
}
.search-icon3 {
  height: 46px;
  width: 35px;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.searchrectangle1 {
  border-radius: var(--br-23xl);
  background-color: var(--color-gray);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs) var(--padding-lg) var(--padding-6xs)
    var(--padding-base);
  z-index: 1;
}
.imagerectangle-child,
.rectangle-group {
  border-radius: var(--br-23xl);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.rectangle-group {
  flex: 1;
  background-color: var(--color-gainsboro);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 var(--padding-xs);
  min-width: 159px;
}
.imagerectangle-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.imagerectangle-item {
  position: absolute;
  top: 22.4px;
  left: 34.6px;
  width: 14.7px;
  height: 17.3px;
  object-fit: contain;
  z-index: 1;
}
.imagerectangle {
  height: 63px;
  width: 69px;
  position: relative;
}
.frame-wrapper2,
.infocircle-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.infocircle-parent {
  flex: 1;
  gap: var(--gap-25xl);
}
.frame-wrapper2 {
  align-self: stretch;
  padding: 0 0 0 var(--padding-15xl);
  box-sizing: border-box;
}
.image-15-icon2 {
  width: 553px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
}
.frame-parent13 {
  width: 684px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-80xl);
  min-width: 684px;
  max-width: 100%;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-100);
}
.dashboard-5-inner,
.frame-parent9 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent9 {
  width: 1193px;
  justify-content: space-between;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-xl);
  flex-shrink: 0;
}
.dashboard-5-inner {
  width: 1243px;
  justify-content: flex-start;
  padding: 0 0 var(--padding-14xl) var(--padding-xl);
  text-align: left;
  font-size: var(--font-size-2xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.image-10-icon2,
.image-9-icon2 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  min-width: 142px;
  min-height: 297px;
}
.imagetriplets {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.image-11-icon2,
.image-12-icon2 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  min-width: 142px;
  min-height: 297px;
}
.imagetriplets1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.image-13-icon2,
.image-14-icon2 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  min-width: 142px;
  min-height: 297px;
}
.framesetimage,
.imagetriplets2,
.nestedframes {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.imagetriplets2 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-21xl);
}
.framesetimage,
.nestedframes {
  box-sizing: border-box;
  max-width: 100%;
}
.framesetimage {
  width: 498px;
  flex-direction: column;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-14xl);
}
.nestedframes {
  width: 679px;
  flex-direction: row;
  padding: 0 0 var(--padding-62xl) var(--padding-xl);
}
.completo3,
.contendio3 {
  margin: 0;
}
.contendio-completo3 {
  align-self: stretch;
  height: 61px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.completeguidetext {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lgi) 0 0;
  box-sizing: border-box;
}
.alimentacin-y-estilo3,
.cardiaca-posoperatoria5-ries3,
.complicaciones3-preocupacion3,
.enfermedades-cardiovasculares3,
.las-mujeresi3,
.pdcast15-consideraciones-en3,
.preguntas-frecuentes-soy3 {
  margin: 0;
}
.pdcast15-consideraciones-en-container3 {
  height: 330px;
  flex: 1;
  position: relative;
  font-weight: 300;
  color: var(--color-dimgray-200);
  display: flex;
  align-items: center;
  min-width: 586px;
  max-width: 100%;
}
.historiasonatatext1,
.podcastconsiderations1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.historiasonatatext1 {
  flex: 1;
  flex-wrap: wrap;
  gap: var(--gap-28xl);
}
.podcastconsiderations1 {
  width: 1246px;
  padding: 0 var(--padding-19xl) var(--padding-39xl) var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-inria-sans);
}
.historia7,
.sonata3 {
  margin: 0;
}
.historia-sonata6 {
  align-self: stretch;
  flex: 1;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.bienvenido-text1 {
  height: 76px;
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) 0 0;
  box-sizing: border-box;
}
.episode-13 {
  align-self: stretch;
  position: relative;
  font-weight: 300;
  z-index: 1;
}
.episode-1-wrapper {
  width: 149px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
}
.bienvenido-a-la15,
.bienvenido-line {
  flex: 1;
  display: flex;
  align-items: center;
  max-width: 100%;
}
.bienvenido-a-la15 {
  height: 55px;
  position: relative;
  font-weight: 300;
  min-width: 413px;
}
.bienvenido-line {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-19xl);
}
.gracias-frame1 {
  height: 55px;
  width: 149px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
}
.bienvenido-line-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-34xl);
  max-width: 100%;
  flex-shrink: 0;
}
.cardiac-guide-title,
.image-frame2 {
  box-sizing: border-box;
  max-width: 100%;
}
.image-frame2 {
  width: 963px;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-black);
  z-index: 1;
}
.cardiac-guide-title {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
  gap: var(--gap-xl);
}
.bienvenido-a-la16,
.episode-23 {
  height: 55px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.episode-23 {
  width: 149px;
  flex-shrink: 0;
}
.bienvenido-a-la16 {
  flex: 1;
  min-width: 413px;
  max-width: 100%;
}
.episode-2-group {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-19xl);
  max-width: 100%;
}
.div10,
.frame-parent14 {
  display: flex;
  flex-shrink: 0;
}
.div10 {
  height: 55px;
  width: 149px;
  position: relative;
  font-weight: 300;
  align-items: center;
  white-space: nowrap;
}
.frame-parent14 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-34xl);
  max-width: 100%;
}
.cardiac-guide-title-child {
  width: 963px;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  max-width: 100%;
}
.cardiac-guide-title1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-xl);
  max-width: 100%;
}
.bienvenido-a-la17,
.episode-33 {
  height: 55px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.episode-33 {
  width: 149px;
  flex-shrink: 0;
}
.bienvenido-a-la17 {
  flex: 1;
  min-width: 413px;
  max-width: 100%;
}
.episode-3-container {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-19xl);
  max-width: 100%;
}
.div11 {
  height: 55px;
  width: 149px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
}
.cardiac-guide-lines {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-34xl);
  max-width: 100%;
  flex-shrink: 0;
}
.cardiac-guide-lines1 {
  width: 963px;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  max-width: 100%;
}
.bienvenido-a-la18,
.episode-43 {
  height: 55px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.episode-43 {
  width: 149px;
  flex-shrink: 0;
}
.bienvenido-a-la18 {
  flex: 1;
  min-width: 413px;
  max-width: 100%;
}
.episode-4-parent1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-19xl);
  max-width: 100%;
}
.div12 {
  height: 55px;
  width: 149px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  white-space: nowrap;
}
.cardiac-guide-lines2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-34xl);
  max-width: 100%;
  flex-shrink: 0;
}
.cardiac-guide-lines3,
.line-frame {
  box-sizing: border-box;
  max-width: 100%;
}
.cardiac-guide-lines3 {
  width: 963px;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-black);
}
.line-frame {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) 0 0;
  gap: var(--gap-xl);
}
.bienvenido-a-la19,
.episode-53 {
  height: 55px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
}
.episode-53 {
  width: 149px;
  flex-shrink: 0;
}
.bienvenido-a-la19 {
  flex: 1;
  min-width: 413px;
  max-width: 100%;
}
.episode-5-parent1 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-19xl);
  max-width: 100%;
}
.div13,
.frame-parent15 {
  display: flex;
  flex-shrink: 0;
}
.div13 {
  height: 55px;
  width: 149px;
  position: relative;
  font-weight: 300;
  align-items: center;
  white-space: nowrap;
}
.frame-parent15 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-34xl);
  max-width: 100%;
}
.cardiac-guide-title-item {
  width: 963px;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  max-width: 100%;
}
.cardiac-guide-title2,
.rectangle-node {
  align-self: stretch;
  box-sizing: border-box;
}
.cardiac-guide-title2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-11xs) var(--padding-smi) 0;
  gap: var(--gap-xl);
  max-width: 100%;
}
.rectangle-node {
  width: 122px;
  position: relative;
  border-radius: var(--br-23xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
}
.ver-mas3 {
  width: 100%;
  border: 0;
  outline: 0;
  font-weight: 300;
  font-family: var(--font-inter);
  font-size: var(--font-size-xl);
  background-color: transparent;
  height: 33px;
  flex: 1;
  position: relative;
  color: var(--color-black);
  text-align: left;
  display: flex;
  align-items: center;
  min-width: 106px;
  z-index: 1;
  margin-left: -98px;
}
.image-container1,
.thanks-frame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.thanks-frame {
  width: 201px;
  align-items: center;
}
.image-container1 {
  height: 63px;
  align-items: flex-start;
}
.podcast-consideraciones-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xl);
  min-width: 675px;
  max-width: 100%;
  margin-left: -77px;
  font-size: var(--font-size-13xl);
}
.episode-frame2,
.historia-sonora-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.episode-frame2 {
  flex: 1;
  flex-wrap: wrap;
  row-gap: 20px;
}
.historia-sonora-frame {
  width: 1253px;
  padding: 0 var(--padding-7xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--font-inria-sans);
}
.gracias-text-child {
  height: 364px;
  width: 1280px;
  position: relative;
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
  z-index: 1;
}
.gracias3 {
  align-self: stretch;
  height: 61px;
  position: relative;
  font-weight: 300;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.image-frame3 {
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) 0 0;
  box-sizing: border-box;
}
.image-6-icon3 {
  width: 407px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  max-width: 100%;
  z-index: 2;
}
.social-icons-frame1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lg) 0 0;
  box-sizing: border-box;
  min-width: 352px;
  max-width: 100%;
  margin-left: -31px;
}
.spotify-icon3 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.instagram-text {
  height: 110px;
  width: 66px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-xl);
  box-sizing: border-box;
}
.historia-sonata7 {
  width: 240px;
  height: 61px;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 2;
}
.facebook-icon4,
.instagram-icon3,
.twitterx-icon3 {
  align-self: stretch;
  width: 66px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  min-height: 90px;
  z-index: 1;
}
.facebook-and-instagram,
.link-frame {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.link-frame {
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.facebook-and-instagram {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
}
.instagram3 {
  height: 61px;
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1;
}
.i-g-d-background,
.twitter-and-instagram {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.i-g-d-background {
  width: 268px;
  flex-direction: row;
  padding: 0 var(--padding-sm);
  box-sizing: border-box;
}
.twitter-and-instagram {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xl);
  min-width: 187px;
}
.facebook-icon3 {
  width: 396px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-24xl);
  max-width: 100%;
  margin-left: -31px;
}
.dashboard-5,
.gracias-text {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.gracias-text {
  align-self: stretch;
  background-color: var(--color-white);
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: var(--padding-lg) var(--padding-81xl) var(--padding-34xl)
    var(--padding-46xl);
  row-gap: 20px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-black);
  font-family: var(--font-inria-sans);
}
.dashboard-5 {
  width: 100%;
  position: relative;
  background-color: var(--color-gainsboro);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  padding: var(--padding-32xl) 0 0;
  gap: var(--gap-34xl);
  letter-spacing: normal;
}
@media screen and (max-width: 1050px) {
  .frame-parent10,
  .frame-parent13,
  .infocircle-parent {
    flex: 1;
  }
  .frame-parent9 {
    flex-wrap: wrap;
  }
  .nestedframes {
    padding-bottom: var(--padding-34xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 975px) {
  .frame-parent13 {
    min-width: 100%;
  }
  .contendio-completo3,
  .pdcast15-consideraciones-en-container3 {
    font-size: var(--font-size-13xl);
  }
  .bienvenido-a-la15,
  .episode-13,
  .gracias-frame1 {
    font-size: var(--font-size-7xl);
  }
  .bienvenido-line-parent {
    flex-wrap: wrap;
  }
  .bienvenido-a-la16,
  .div10,
  .episode-23 {
    font-size: var(--font-size-7xl);
  }
  .frame-parent14 {
    flex-wrap: wrap;
  }
  .bienvenido-a-la17,
  .div11,
  .episode-33 {
    font-size: var(--font-size-7xl);
  }
  .cardiac-guide-lines {
    flex-wrap: wrap;
  }
  .bienvenido-a-la18,
  .div12,
  .episode-43 {
    font-size: var(--font-size-7xl);
  }
  .cardiac-guide-lines2 {
    flex-wrap: wrap;
  }
  .bienvenido-a-la19,
  .div13,
  .episode-53 {
    font-size: var(--font-size-7xl);
  }
  .frame-parent15 {
    flex-wrap: wrap;
  }
  .podcast-consideraciones-text {
    min-width: 100%;
    margin-left: 0;
  }
}
@media screen and (max-width: 725px) {
  .infocircle-parent {
    flex-wrap: wrap;
    gap: var(--gap-25xl);
  }
  .frame-parent13 {
    gap: var(--gap-80xl);
  }
  .imagetriplets,
  .imagetriplets1,
  .imagetriplets2 {
    gap: var(--gap-21xl);
  }
  .framesetimage {
    gap: var(--gap-14xl);
  }
  .nestedframes {
    padding-bottom: var(--padding-15xl);
    box-sizing: border-box;
  }
  .pdcast15-consideraciones-en-container3 {
    min-width: 100%;
  }
  .historiasonatatext1 {
    gap: var(--gap-28xl);
  }
  .bienvenido-a-la15 {
    min-width: 100%;
  }
  .bienvenido-line {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .bienvenido-line-parent {
    gap: var(--gap-34xl);
  }
  .bienvenido-a-la16 {
    min-width: 100%;
  }
  .episode-2-group {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .frame-parent14 {
    gap: var(--gap-34xl);
  }
  .bienvenido-a-la17 {
    min-width: 100%;
  }
  .episode-3-container {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .cardiac-guide-lines {
    gap: var(--gap-34xl);
  }
  .bienvenido-a-la18 {
    min-width: 100%;
  }
  .episode-4-parent1 {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .cardiac-guide-lines2 {
    gap: var(--gap-34xl);
  }
  .bienvenido-a-la19 {
    min-width: 100%;
  }
  .episode-5-parent1 {
    flex-wrap: wrap;
    min-width: 100%;
  }
  .frame-parent15 {
    gap: var(--gap-34xl);
  }
  .social-icons-frame1 {
    min-width: 100%;
  }
  .gracias-text {
    padding-left: var(--padding-13xl);
    padding-right: var(--padding-31xl);
    box-sizing: border-box;
  }
  .dashboard-5 {
    gap: var(--gap-34xl);
  }
}
@media screen and (max-width: 450px) {
  .guia-de-cirugia3 {
    font-size: var(--font-size-lgi);
  }
  .saber-mas3,
  .si-ests-leyendo3 {
    font-size: var(--font-size-base);
  }
  .frame-parent10 {
    gap: var(--gap-93xl);
  }
  .historia-sonora3 {
    font-size: var(--font-size-base);
  }
  .infocircle {
    flex: 1;
  }
  .historia6 {
    font-size: var(--font-size-base);
  }
  .frame-parent13 {
    gap: var(--gap-80xl);
  }
  .contendio-completo3,
  .pdcast15-consideraciones-en-container3 {
    font-size: var(--font-size-5xl);
  }
  .podcastconsiderations1 {
    padding-bottom: var(--padding-19xl);
    box-sizing: border-box;
  }
  .historia-sonata6 {
    font-size: var(--font-size-3xl);
  }
  .bienvenido-a-la15,
  .episode-13 {
    font-size: var(--font-size-lgi);
  }
  .bienvenido-line {
    gap: var(--gap-19xl);
  }
  .bienvenido-a-la16,
  .episode-23,
  .gracias-frame1 {
    font-size: var(--font-size-lgi);
  }
  .episode-2-group {
    gap: var(--gap-19xl);
  }
  .bienvenido-a-la17,
  .div10,
  .episode-33 {
    font-size: var(--font-size-lgi);
  }
  .episode-3-container {
    gap: var(--gap-19xl);
  }
  .bienvenido-a-la18,
  .div11,
  .episode-43 {
    font-size: var(--font-size-lgi);
  }
  .episode-4-parent1 {
    gap: var(--gap-19xl);
  }
  .bienvenido-a-la19,
  .div12,
  .episode-53 {
    font-size: var(--font-size-lgi);
  }
  .episode-5-parent1 {
    gap: var(--gap-19xl);
  }
  .div13 {
    font-size: var(--font-size-lgi);
  }
  .ver-mas3 {
    font-size: var(--font-size-base);
  }
  .gracias3,
  .historia-sonata7,
  .instagram3 {
    font-size: var(--font-size-3xl);
  }
  .facebook-icon3 {
    flex-wrap: wrap;
    gap: var(--gap-24xl);
  }
  .gracias-text {
    padding-top: var(--padding-xl);
    padding-right: var(--padding-xl);
    padding-bottom: var(--padding-15xl);
    box-sizing: border-box;
  }
}
